@page "/competenceareas/add"
@page "/competenceareas/edit/{Id}"
@using Showroom.Shared
@attribute [Authorize(Roles = RoleConstants.Administrator)]
    
    <Loader Task="@task">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            @if (string.IsNullOrEmpty(Id))
            {
                <h2>Add Competence Area</h2>
            }
            else
            {
                <h2>Edit Competence Area</h2>
            }
        </div>

        <EditForm Model="@competenceArea" OnValidSubmit="@SubmitForm">
            <DataAnnotationsValidator />

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Name</label>
                    <InputText class="form-control" placeholder="Name" @bind-Value="competenceArea.Name"></InputText>
                    <ValidationMessage For="@(() => competenceArea.Name)"></ValidationMessage>
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg" type="submit">Save</button>

            @if (saved)
            {
                <p><span class="oi oi-check" aria-hidden="true"></span> Saved</p>
            }
            else
            {
                @if (!string.IsNullOrEmpty(error))
                {
                    <p><span class="oi oi-ban" aria-hidden="true"></span> @error</p>
                }
            }
        </EditForm>
    </Loader>