@page "/user/edit"
@layout MainLayout
@using Showroom.Shared
@using Showroom.Server.Client
@attribute [Authorize]

<Loader Task="@task">

    <FilePickerModal @ref="imageUploadModal" OnConfirm="SubmitProfileImageForm" ConfirmButtonText="Upload" Accept="image/*">
        <TitleTemplate>
            Upload profile image for <NameDisplay FirstName="@user.FirstName" DisplayName="@user.DisplayName" ShowFirstName="true" />
        </TitleTemplate>
    </FilePickerModal>

    <section class="jumbotron text-center">
        <div class="container">
            <ProfileImage ImagePath="@(imageSource == null ? user.ProfileImage : imageSource)"
                            FirstName="@user.FirstName"
                            LastName="@user.LastName" OnClick="@(() => imageUploadModal.Show())">
                <Overlay>
                    <i class="overlay oi oi-pencil"></i>
                </Overlay>
            </ProfileImage>

            <h1 class="jumbotron-heading">

                <NameDisplay FirstName="@user.FirstName"
                             MiddleName="@user.MiddleName"
                             LastName="@user.LastName"
                             DisplayName="@user.DisplayName" />

            </h1>

            <p class="lead text-muted">
                @if ((user is ConsultantProfileViewModel consultantProfile) && !string.IsNullOrEmpty(consultantProfile.Headline))
                {
                    @consultantProfile.Headline
                }
                else
                { @if (!string.IsNullOrEmpty(user.Title))
                    {
                        @user.Title
                        @if (user is ClientProfileViewModel client)
                        {
                            if (!string.IsNullOrEmpty(user.Section))
                            {
                                <span>for @user.Section</span>
                            }
                            if (!string.IsNullOrEmpty(user.Department))
                            {
                                <span>in @user.Department</span>
                            }
                            if (!string.IsNullOrEmpty(user.Company))
                            {
                                <span>at @user.Company</span>
                            }
                        }
                    }
            }
            </p>
        </div>
    </section>

    <div class="py-5 bg-light">
        <div class="container">
            <EditForm Model="@user" OnValidSubmit="@SubmitForm">
                <DataAnnotationsValidator />
                <h3>Personal Information</h3>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <InputText2 class="form-control" placeholder="First Name" @bind-Value="user.FirstName"></InputText2>
                        <ValidationMessage For="@(() => user.FirstName)"></ValidationMessage>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <InputText2 class="form-control" placeholder="Last Name" @bind-Value="user.LastName"></InputText2>
                        <ValidationMessage For="@(() => user.LastName)"></ValidationMessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="displayName">Display name</label>
                        <InputText2 class="form-control" placeholder="Display Name" @bind-Value="user.DisplayName"></InputText2>
                        <ValidationMessage For="@(() => user.DisplayName)"></ValidationMessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="title">Title</label>
                        <InputText2 class="form-control" placeholder="Title" @bind-Value="user.Title"></InputText2>
                        <ValidationMessage For="@(() => user.Title)"></ValidationMessage>
                    </div>
                    @if (user is ClientProfileViewModel clientProfile)
                    {
                        <div class="col-md-6 mb-3">
                            <label for="section">Section</label>
                            <InputText2 class="form-control" placeholder="Section" @bind-Value="clientProfile.Section"></InputText2>
                            <ValidationMessage For="@(() => clientProfile.Section)"></ValidationMessage>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="department">Department</label>
                            <InputText2 class="form-control" placeholder="Department" @bind-Value="clientProfile.Department"></InputText2>
                            <ValidationMessage For="@(() => clientProfile.Department)"></ValidationMessage>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="company">Company</label>
                            <InputText2 class="form-control" placeholder="Company" @bind-Value="clientProfile.Company"></InputText2>
                            <ValidationMessage For="@(() => clientProfile.Company)"></ValidationMessage>
                        </div>
                    }
                </div>

                <h3>Contact Information</h3>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">E-mail</label>
                        <InputText class="form-control" placeholder="Email" @bind-Value="user.Email"></InputText>
                        <ValidationMessage For="@(() => user.Email)"></ValidationMessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="phoneNo">Phone No</label>
                        <InputText class="form-control" placeholder="Phone No" @bind-Value="user.PhoneNumber"></InputText>
                        <ValidationMessage For="@(() => user.PhoneNumber)"></ValidationMessage>
                    </div>
                </div>

                <h4>Address</h4>

                <AddressForm Address="@user.Address"> </AddressForm>

                <hr class="mb-4">
                <button class="btn btn-primary" type="submit">Save</button>

                @if (saved)
                {
                    <p><span class="oi oi-check" aria-hidden="true"></span> Saved</p>
                }
                else
                {
                    @if (!string.IsNullOrEmpty(error))
                    {
                        <p><span class="oi oi-ban" aria-hidden="true"></span> @error</p>
                    }
                }
            </EditForm>
        </div>
    </div>
</Loader>

@code {
    FilePickerModal imageUploadModal;
}
