@page "/managers/{Id}"
@layout MainLayout
@implements IDisposable
@using Showroom.Server.Client
@using Showroom.Client.Services
@using Showroom.Shared
@inject IManagersClient ManagersClient
@inject IClientProfilesClient ClientProfilesClient
@inject IConsultantRecommendationsClient ConsultantRecommendationsClient
@inject IClientConsultantInterestsClient ClientConsultantInterestsClient
@inject Services.IJSHelpers jsHelpers
@inject IJSHelpers JSHelpers
@attribute [Authorize]

<Loader Task="task">
    <section class="jumbotron text-center">
        <div class="buttonmenu">
            <AuthorizeView Roles="@RoleConstants.AdministratorAndManager">
                <a class="btn" href="/managers/edit/@managerProfile.Id"><span class="oi oi-pencil" aria-hidden="true"></span> Edit</a>
            </AuthorizeView>
        </div>
        <div class="container">
            <ProfileImage ImagePath="@managerProfile.ProfileImage"
                          FirstName="@managerProfile.FirstName"
                          LastName="@managerProfile.LastName" />

            <h1 class="jumbotron-heading">

                <NameDisplay FirstName="@managerProfile.FirstName"
                             MiddleName="@managerProfile.MiddleName"
                             LastName="@managerProfile.LastName"
                             DisplayName="@managerProfile.DisplayName" />

            </h1>
            @if (!string.IsNullOrEmpty(managerProfile.Headline))
            {
                <p class="lead text-muted">@managerProfile.Headline</p>
            }
            else if (!string.IsNullOrEmpty(managerProfile.Title))
            {
                <p class="lead text-muted">@managerProfile.Title</p>
            }
        </div>
    </section>

    <div class="py-5 bg-light">

        <div class="container">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <dl class="dl-horizontal">
                        <dt>Region</dt>
                        <dd>@managerProfile.Organization.Name</dd>
                        @*<dt>Competence Area</dt>
                            <dd>@managerProfile.CompetenceArea.Name</dd>*@
                        @if (!string.IsNullOrEmpty(managerProfile.PhoneNumber))
                        {
                            <dt>Phone</dt>
                            <dd><a href="tel:@managerProfile.PhoneNumber">@managerProfile.PhoneNumber</a></dd>
                        }
                        @if (!string.IsNullOrEmpty(managerProfile.Email))
                        {
                            <dt>Email</dt>
                            <dd><a href="mailto:@managerProfile.Email">@managerProfile.Email</a></dd>
                        }
                    </dl>

                    @if (!string.IsNullOrEmpty(managerProfile.Email))
                    {
                        <h3>Presentation</h3>
                        <MarkdownView Content="@managerProfile.Presentation"></MarkdownView>
                    }
                </div>
                <div class="col-md-6 mb-3">
                    @if (!string.IsNullOrEmpty(managerProfile.Title))
                    {
                        <dt>Title</dt>
                        <dd>@managerProfile.Title</dd>
                    }

                    @if (!string.IsNullOrEmpty(managerProfile.Section))
                    {
                        <dt>Section</dt>
                        <dd>@managerProfile.Section</dd>
                    }

                    @if (!string.IsNullOrEmpty(managerProfile.Department))
                    {
                        <dt>Department</dt>
                        <dd>@managerProfile.Department</dd>
                    }

                    @if (!string.IsNullOrEmpty(managerProfile.Company))
                    {
                        <dt>Company</dt>
                        <dd>@managerProfile.Company</dd>
                    }
                    @if (managerProfile.Address != null)
                    {
                        <dl class="dl-horizontal">
                            <dt>Address</dt>
                            <dd>@managerProfile.Address.Address1</dd>
                            <dd>@managerProfile.Address.PostalCode @managerProfile.Address.City</dd>
                            <dd>@managerProfile.Address.State @managerProfile.Address.Country</dd>
                        </dl>
                    }
                    @if (!string.IsNullOrEmpty(managerProfile.ProfileVideo))
                    {
                        <video style="width: 100%" controls>
                            <source src="@managerProfile.ProfileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    }
                </div>
            </div>
        </div>

    </div>
</Loader>

@code {
    Task task;

    ManagerProfile managerProfile;
    IEnumerable<ClientProfile> clients;

    [Parameter]
    public string Id { get; set; }

    protected override void OnInitialized()
    {
        task = OnInitialize();
    }

    private async Task OnInitialize()
    {
        try
        {
            managerProfile = await ManagersClient.GetManagerAsync(Guid.Parse(Id));

            await jsHelpers.SetTitle($"{managerProfile.FirstName} {managerProfile.LastName} - ESSIQ Showroom");
        }
        /*catch (ApiException exc)
        {

        }
        catch (HttpRequestException exc)
        {

        }*/
        catch (Exception exc)
        {
            await JSHelpers.Alert(exc.Message);
        }
    }

    public async void Dispose()
    {
        await jsHelpers.SetTitle("ESSIQ Showroom");
    }
}
