@page "/user"
@page "/profile/{Id}"
@layout MainLayout
@using Showroom.Server.Client
@using Showroom.Client.Services
@using Showroom.Shared
@inject IUserClient  UserClient
@inject IJSHelpers JSHelpers
@attribute [Authorize]

    <Loader Task="@task">

        <section class="jumbotron text-center">
            <div class="container">
                @if (user != null)
                {

                    <ProfileImage ImagePath="@user.ProfileImage"
                                  FirstName="@user.FirstName"
                                  LastName="@user.LastName" />

                    <h1 class="jumbotron-heading">

                        <NameDisplay FirstName="@user.FirstName"
                                     MiddleName="@user.MiddleName"
                                     LastName="@user.LastName"
                                     DisplayName="@user.DisplayName" />

                    </h1>

                    <p class="lead text-muted">
                        @if ((user is ConsultantProfile consultantProfile) && !string.IsNullOrEmpty(consultantProfile.Headline))
                        {
                            @consultantProfile.Headline
                        }
                        else
                        { @if (!string.IsNullOrEmpty(user.Title))
                            {
                                @user.Title
                                @if (user is ClientProfile)
                                {
                                    if (!string.IsNullOrEmpty(user.Section))
                                    {
                                        <span>for @user.Section</span>
                                    }
                                    if (!string.IsNullOrEmpty(user.Department))
                                    {
                                        <span>in @user.Department</span>
                                    }
                                    if (!string.IsNullOrEmpty(user.Company))
                                    {
                                        <span>at @user.Company</span>
                                    }
                                }
                            }
                    }
                    </p>
                }
            </div>
        </section>

        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <dl class="dl-horizontal">
                            <dt>First Name</dt>
                            <dd>@user.FirstName</dd>
                            <dt>Last Name</dt>
                            <dd>@user.LastName</dd>
                            @if (!string.IsNullOrEmpty(user.DisplayName))
                            {
                                <dt>Display Name</dt>
                                <dd>@user.DisplayName</dd>
                            }
                            @if (!string.IsNullOrEmpty(user.PhoneNumber))
                            {
                                <dt>Phone</dt>
                                <dd><a href="tel:@user.PhoneNumber">@user.PhoneNumber</a></dd>
                            }
                            <dt>Email</dt>
                            <dd><a href="mailto:@user.Email">@user.Email</a></dd>
                            <dt>Account Type</dt>
                            <dd>@user.GetType().Name.Replace("Profile", string.Empty)</dd>
                        </dl>
                    </div>
                    <div class="col-md-6 mb-3">
                        @if (user is ConsultantProfile consultant)
                        {
                            if (consultant.CompetenceArea != null)
                            {
                                <dt>Competence Area</dt>
                                <dd>@consultant.CompetenceArea.Name</dd>
                            }
                            if (consultant.Manager != null)
                            {
                                <dt>Manager</dt>
                                <dd>
                                    <a href="/managers/@consultant.Manager.Id">
                                        <NameDisplay FirstName="@consultant.Manager.FirstName"
                                                     MiddleName="@consultant.Manager.MiddleName"
                                                     LastName="@consultant.Manager.LastName"
                                                     DisplayName="@consultant.Manager.DisplayName" />
                                    </a>
                                </dd>
                            }
                        }
                        @if (!string.IsNullOrEmpty(user.Title))
                        {
                            <dt>Title</dt>
                            <dd>@user.Title</dd>
                        }

                        @if (!string.IsNullOrEmpty(user.Section))
                        {
                            <dt>Section</dt>
                            <dd>@user.Section</dd>
                        }

                        @if (!string.IsNullOrEmpty(user.Department))
                        {
                            <dt>Department</dt>
                            <dd>@user.Department</dd>
                        }

                        @if (!string.IsNullOrEmpty(user.Company))
                        {
                            <dt>Company</dt>
                            <dd>@user.Company</dd>
                        }
                        @if (user.Address != null)
                        {
                            <dl class="dl-horizontal">
                                <dt>Address</dt>
                                <dd>@user.Address.Address1</dd>
                                <dd>@user.Address.PostalCode @user.Address.City</dd>
                                <dd>@user.Address.State @user.Address.Country</dd>
                            </dl>
                        }
                        @if (user is ClientProfile client)
                        {
                            <dl class="dl-horizontal">
                                <dt>Our reference</dt>
                                <dd>
                                    <a href="/managers/@client.Reference.Id">
                                        <NameDisplay FirstName="@client.Reference.FirstName"
                                                     LastName="@client.Reference.LastName"
                                                     DisplayName="@client.Reference.DisplayName" />
                                    </a>
                                </dd>
                            </dl>
                        }
                    </div>
                </div>

                <a class="btn btn-secondary" href="/user/edit"><span class="oi oi-pencil" aria-hidden="true"></span> Edit profile</a>

                <AuthorizeView Roles="@RoleConstants.Consultant">
                    Check your <a href="/consultants/@user.Id">Consultant profile</a>.
                </AuthorizeView>

                <AuthorizeView Roles="@RoleConstants.Manager">
                    Check your <a href="/managers/@user.Id">Manager profile</a>.
                </AuthorizeView>
            </div>
        </div>

    </Loader>

@code {
    [Parameter]
    public string Id { get; set; }

    UserProfile user;
    Task task;

    protected override void OnInitialized()
    {
        task = OnInitialize();
    }

    private async Task  OnInitialize()
    {
        if (Id == null)
        {
            user = await UserClient.GetUserProfileAsync(null);
        }
        else
        {
            user = await UserClient.GetUserProfileAsync(Guid.Parse(Id));
        }
    }
}
