@using Showroom.Server.Client

<a href="@Href" style="text-decoration: none; color: black">
    <div class="container text-center">
        <div class="img-circle" style="background-image: url('@Consultant.ProfileImage')" />
        <h2 class="jumbotron-heading" style="text-transform: uppercase; font-size: 24pt">
            <NameDisplay FirstName="@Consultant.FirstName" LastName="@Consultant.LastName" DisplayName="@Consultant.DisplayName" />
        </h2>
        <p class="lead text-muted">@Consultant.Headline</p>
    </div>
</a>

@code {
    [Parameter]
    public ProfileShort Consultant { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }
}
