@using Showroom.Server.Client

<div class="card mb-4 box-shadow" @attributes="AdditionalAttributes">
    @*@if (consultant.ProfileVideo != null)
        {
            <video class="card-img-top" controls>
                <source src="@consultant.ProfileVideo" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
        else*@
    @if (!string.IsNullOrEmpty(Consultant.ProfileImage))
    {
        <img class="card-img-top" src="@Consultant.ProfileImage?height=250" alt="Card image cap">
    }
    else
    {
        <img class="card-img-top placeholder" height="250" />
    }
    <div class="card-body">
        <h5 class="card-title">
            <NameDisplay FirstName="@Consultant.FirstName" LastName="@Consultant.LastName" DisplayName="@Consultant.DisplayName" />
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">@Consultant.Headline</h6>
        @*<p class="card-text">@consultant.Location</p>*@
        <a href="@Href" class="card-link float-right">View</a>
    </div>
</div>

@code {
    [Parameter]
    public ProfileShort Consultant { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }
}
